.routes-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
.fs12{
    font-size: 12px;
}
.fs14{
    font-size: 14px;
}
.fs18{
    font-size: 18px;
}
.fs24{
    font-size: 24px;
}
.fs32{
    font-size: 32px;
}
.fs84{
    color: rgba(15, 113, 255, 1);
    font-size: 84px;
}
.fw6{
    font-weight: 600;
}
.clcc{
    color: #CCCCCC;
}
.cl34{
    color: #343434;
}
.cl8C{
    color: #8C8C8C;
}
.clF6{
    color: #F64253;
}
.clAE{
    color: #AEAEAE;
}
.lineE9{
    background: #E9E9E9;
    height: 15px;
    width: 1px;
}
.block{
    display: block !important;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6,ul, ol, p{
    margin: 0;
    padding: 0;

}
a {
    color: inherit;
}

ul li {
    list-style: none;
    margin: 0;
}
.disFlex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.wb100{
    width: 100% !important;
    .a-TplField.is-inline{
        display: block !important;
    }
}
.text-c{
    text-align: center;
}
.text-r{
    text-align: right;
}
.text-l{
    text-align: left;
}

.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-17{
    margin-top: 17px;
}
.mt-20{
    margin-top: 20px;
}
.mt-24{
    margin-top: 24px;
}
.mt-33{
    margin-top: 33px;
}
.mt-40{
    margin-top: 40px;
}
.mr-5{
    margin-right: 5px;
}
.mr-15{
    margin-right: 15px;
}
.mr-36{
    margin-right: 36px;
}
.ml-14{
    margin-left: 14px;
}
.ml-52{
    margin-left: 52px;
}
.mr-140{
    margin-right: 140px !important;
}
.mb-0{
    margin-bottom: 0 !important;
}.mb-16{
    margin-bottom: 16px;
}
.mb-22{
    margin-bottom: 22px;
}
.my15{
    margin: 0 15px;
}
.cl-ff{
    color: #ffffff;
}
.cl-BE{
    color: #BEBEBE;
}
.cl-20{
    color: #202124;
}
.cl-0F{
    color: #0F71FF;
}
.cl-CE{
    color: #CECECE;
}
.bgff{
    background: #ffffff;
}
.bg0F{
    background: #0F71FF;
}
.bg9F{
    background: #9F9F9F;
}
.bgF0F{
    background: #F0F2F5;
    .a-TextControl-input{
        background: #F0F2F5;
    }
}
.borN{
    border: none;
}
.a-Panel{
    border: none;
    box-shadow: none;
    margin-bottom: 0;
}


.w-xs2{
    width: 160px !important;
}
.w-xs4{
    width: 320px !important;
}
.wb21{
    width: 21.875%;
}

.wb25{
    width: 25%;
}

.wb30{
    width: 30%;

}

.wb43{
    width: 43%;
}
.wb45{
    width: 45%;
}
.wb50{
    width: 50%;

}
.wb70{
    width: 70%;
}
.wb78{
    width: 78.125%;
}
.wb90{
    width: 90% !important;
}

.w90{
    width: 90px;
}
.w100{
    width: 100px;
}
.w180{
    width: 180px;
}
.w350{
    width: 350px !important;
}
.w370{
    width: 370px !important;
}
.w435{
    width: 435px !important;
}
.w530{
    width: 536px;
}
.w560{
    width: 560px;
}
.m-a{
    margin: 0 auto;
}

.a-Button--primary{
    background-color: #0F71FF;
    border-color: #0F71FF;
}
.a-Panel-body{
    padding: 0;
}
.pt15{
    padding-top: 15px;
}
.pt26{
    padding-top: 26px;
}
.p20{
    padding: 20px;
}
.pl-26{
    padding-left: 26px;
}

.butremark{
    position: absolute;
    width: 820px;
    height: 270px;
    right: -60px;
    top: 42px;
    z-index: 9999;
    background: #ffffff;
    box-shadow: 0 0 10px #c4c4c4;
    padding: 20px 40px;
}
.a-Collapse-content.in, .a-Collapse-content.out{
    display: none;
}

.w120{
    width: 120px !important;
    max-width: none !important;
    flex:0 25% !important;
    padding-right: 0px !important;
}
.w70{
    width: 70px;
}
.w260{
    width: 260px !important;
}
.p5{
    padding: 6px;
}
.wDrawer{
    .a-Drawer-content{
        width: 1240px;
    }
    .a-Drawer-header{
        background: #ffffff;
        margin: 0 30px;
        padding: 30px 50px 27px 37px;
        border-bottom-color: #D4D7DF;
    }
}

.listDrawer{
    overflow: hidden;
    padding: 30px 67px;

    .listForm{
        border: 1px solid #F0F2F5;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.07);
        padding-top: 32px;
        padding-left: 32px;
    }
    .a-Form-label{
        font-size: 14px;
        float: left;
        color: #B4B4B4;
        margin-right: 14px;
    }
    .a-Form-value{
        font-size: 14px;
        float: left;
        color: #343434;
    }
}
.label-E6{
    background-color: #E6F0FF;
    color: #343434;
}

.listDrawerTba{
    margin-top: 30px;
    .a-Tabs-links{
        background: #F0F2F5;
        height: 34px;
        margin-bottom: 0;
        .a-Tabs-link{
            a{
                height: 34px !important;
                line-height: 34px !important;
                background: #F0F2F5 !important;
                border: none !important;
                width: 114px;
            }
        }
        .is-active{
            a{
                font-size: 14px !important;
                background: #0F71FF !important;
                color: #ffffff !important;

            }

        }
    }

    .a-Tabs-content{
        border: none;
    }
    .listWximgs{
        width: 64px;
        .a-Image-thumb{
            height: 64px;
        }
    }
    .titleImg{
        width: 38px;
        height: 38px;
        background: #E1E1E1;
        border-radius: 50%;
    }
    .chartMsg{
        max-height: 560px;
        overflow: auto;
        .a-ListItem{
            border: none;
        }
        .a-ListItem:nth-child(even){
            background-color: #ffffff;
        }
        .a-TplField{
            width: 100%;
        }
        .a-Form-value{
            width: 100%;
        }
    }
    .friends{
        .content{
            width: calc(100% - 55px);
            img{
                max-width: 300px;
                max-height: 224px;
            }
        }
    }
    .inputWb{
        width: calc(100% - 55px);
        margin-left: 55px;
    }
    .a-Table-fixedTop.in{
        display: none;
    }

}

.alertH34{
    padding:8px 11px 8px 23px;
    background: #E4EFFF !important;
    color: rgba(0, 0, 0, 0.65);
    border-color: #E4EFFF !important;
}

.a-MyWizard{
    padding: 0 66px;
    .a-Wizard-stepContent{
        padding: 0.9375rem 0;
    }
    .a-Wizard-steps{
        border-bottom: none;
        ul {
            display: flex;
            justify-content: space-between;
            background: #ffffff;
            .is-active{
                color: #000000;
            }
            .is-complete{
                color: #000000;
                background: #ffffff;
                &:hover{
                    color: #000000;
                    background: #ffffff;
                }
            }
            li{
                margin-right: 100px;
                font-size: 16px;
                padding: 0;
                .a-Badge{
                    width: 32px;
                    height: 32px;
                    font-size: 16px;
                    border-radius: 50%;
                    line-height: 32px;
                    border: 1px solid rgba(0, 0, 0, 0.14901960784313725);
                    background: none;
                    color: rgba(0, 0, 0, 0.25);
                }
                .is-active{
                    color: #ffffff;
                    background: #1890FF;
                    border-color: #1890FF;
                }
                &:before{
                    border: none;
                    width: 192px;
                    background: rgba(0, 0, 0, 0.15);
                    height: 1px;
                    bottom: 20px;
                    right: -200px;
                }
                &:after{
                    display: none;
                }
                &:nth-child(3) {
                    margin-right: 0;
                    &:before{
                        display: none;

                    }
                }
            }
        }
    }

    .a-Panel-footer{
        border: none;
        text-align: center;
    }
}

.a-Fdesc{
    position: absolute;
    top: 8px;
    right: -44px;
}

.materialTab{
    border-right: 24px solid #F0F2F5;
    background: #ffffff;
    min-height: 560px;
    .a-Tabs-links{
        padding: 26px 0 0 26px;
        .a-Tabs-link{
            a{
                background: #ffffff !important;
                padding: 0 20px !important;
            }
        }
        .is-active{
            a{
                border-color: #0F71FF !important;
                background: #E6F1FC !important;
                color: #0F71FF !important;
            }
        }
    }
    .a-Tabs-content{
        border: none !important;
        padding: 0;
    }

}
.materialGrid{
    .a-Grid-col--md3{
        background: #ffffff;
    }
    .a-Grid-col--md9{

    }
}
.a-RadiosLeft{
    i{
        border: none;
        float: right;
        margin-top: 0;
        background: none !important;
    }
    .a-Checkbox--radio input:checked > i + span{

    }
    span{
        margin-left: 0 !important;
        display: block;
        padding-left: 26px;
    }
    .a-Checkbox{
        padding-left: 0;
        height: 32px;
        line-height: 32px;
        margin: 0;
    }
    .a-Checkbox--radio input:checked + i + span{
        background-color: #E6F0FF;
    }
    .a-Checkbox--radio input:checked + i:before {
        background: none;
    }
    .a-Checkbox--radio input:checked + i:after{
        content: " ";
        display: block;
        width: 2px;
        height: 32px;
        background: #0F71FF;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.copmImg{
    width: 42px;
    height: 42px;
    .a-Image{
        width: 100% !important;
        .a-Image-thumb{
            height: 100% !important;
        }
    }
}
